<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <link rel="stylesheet" href="{% static 'css/edit.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="right">
        <form method="post">
          {% csrf_token %}
          <label>USERNAME</label>
          <div class="text_field">
            <input type="text" required name="username" />
          </div>

          <label>password</label>
          <div class="text_field">
            <input type="password" required name="password1" />
          </div>

          <input type="submit" id="update-button" value="UPDATE" />
        </form>

        <a href="{% url 'dashboard' %}"><button type="button">Back</button> </a>
      </div>

      <div class="left">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="upload">
            <img src="{% static 'imgs/upload-profile.png' %}" alt="" id="res" />
            <div class="round">
              <input
                type="file"
                id="image_input"
                name="profile_image"
                accept="image/png"
              />
              <i class="fa fa-camera" style="color: #fff"></i>
            </div>
            <button type="submit" id="upload-image-button">upload</button>
          </div>
        </form>

        <div class="Delete">
          <img src="{% static 'imgs/profile-icon.png' %}" alt="profile icon " />

          <a href="{% url 'delete' %}">
            <button type="button">Delete Account</button>
          </a>
        </div>
      </div>
    </div>
    <script src="{% static 'js/image.js' %}"></script>
  </body>
</html>
