<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>reset</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="right">
        <form method="post">
          {% csrf_token %}
          <h1>Change password</h1>
          <label>USERNAME</label>
          <div class="text_field">
            <input type="text" required name="username" />
          </div>

          <label>PASSWORD</label>
          <div class="text_field">
            <input type="password" required name="password1" />
          </div>

          <label>CONFIRM PASSWORD</label>
          <div class="text_field">
            <input type="password" required name="password2" />
          </div>

          <div class="pass">
            <input type="submit" value="Confirm" />
          </div>
        </form>
      </div>

      <div class="left">
        <h1>Change password</h1>
        <img
          src="{% static 'imgs/Reset password-cuate 2.png' %}"
          alt="a photo
        for a password resting "
        />
      </div>
    </div>
  </body>
</html>
