<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signup</title>
    <link rel="stylesheet"  href="{% static 'css/signup.css' %}" />
     <link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <div class="right">
        
        <form method="post">
          {% csrf_token %}
          <h1>SignUp</h1>
          <label>USERNAME</label>
          <div class="text_field">
            <input type="text" required name="username" />
          </div>
          <label>USEREMAIL</label>
           <div class="input-icons">
                <i class="fa fa-envelope icon">
                </i>
                <div class="text_field">
            <input type="text" required name="email"/>
          </div>
            </div>
          <label>PASSWORD</label>
          <div class="text_field">
            <input type="password" required  name="password1"/>
          </div>

          <label>CONFIRM PASSWROD</label>
          <div class="text_field">
            <input type="password" required  name="password2"/>
          </div>
          {% if error %}
        <ul class="messagelist">
       
            <li>{{ error }}</li>
        
         </ul>
        {% endif %}
          <div>
            <div class="child">
              <input
                type="checkbox"
                id="remmber "
                name="vehicle1"
                value="Bike"
              />
              <label for="vehicle1"> Remember me </label>
            </div>

          <div class="pass">

          
          
            <input type="submit" value="Sign up" />
          </div>
           
     
          <div class="signup_Link">
          <h4> Already have an account?</h4>
            <a href ="{% url 'login_page' %}">Login</a>
          </div>
        </form>

       
      </div>


      <div class="left">
        <h1> Join Us  !</h1>
        <img src = {% static 'imgs/Group.png' %} 
        alt="a photo for a signup" />
      </div>
    </div>
  </body>
</html>
