body {
  padding-left: 700px;
  padding-top: 300px;
}

.text_field input {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 373px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--color-neutrals-light-grey-300, #d0d5dd);
  background: var(--color-neutrals-light-grey-200, #eaecf0);
  color: #e49d5b;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

label {
  margin-top: 10px;
  color: #07377b;
  font-family: Open Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pass {
  display: block;
}
.pass label {
  /*text-align: left;*/
  margin-top: 2px;
  margin-bottom: 7px;
}
.pass input {
  margin-top: 3px;
  margin-bottom: 7px;

  /*text-align: right; */
}
input[type="submit"] {
  width: 373px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f27216;
}

input[type="submit"] :hover {
  border-color: #2691d9;
  transition: 0.5s;
}
