body {
  background-color: #adddff;
}

.chat form {
  padding: 2% 0.5% 1% 0.5%;
  width: 40%;
  height: 10%;
  margin-left: 30%;
  margin-top: 5%;
  background-color: whitesmoke;
  border-radius: 10px;
}
.chat hr {
  height: 1px;
  color: darkcyan;
}
.chat-input {
  margin-top: 30px;
  width: 100%;
}
.text_field {
  display: flex;
}
.text_field input {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid var(--color-neutrals-light-grey-300, #d0d5dd);
  background: var(--color-neutrals-light-grey-200, #eaecf0);
  color: navy;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text_field button {
  position: absolute;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  border-radius: 100px;
  margin-left: 36%;
  margin-top: 1.4%;
}
.chat-header {
  display: flex;
}
.chat-header label {
  margin-top: 2.7%;
  margin-left: 4.4%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #07377b;
}
#chat-answer {
  font-family: Arial, Helvetica, sans-serif;
  color: navy;
}
