body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  height: 100vh;
  overflow: hidden;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;

  background-color: #adddff;
}
.left img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  padding: 1px 0px 71px 58px;
}
.right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;

  background-color: white;
}

.right h1 {
  margin-top: 10px;
  color: #07377b;
  font-family: Open Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.right label {
  color: #07377b;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.right form {
  padding: 90px 50px 90px 110px;
}

.text_field input {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 373px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--color-neutrals-light-grey-300, #d0d5dd);
  background: var(--color-neutrals-light-grey-200, #eaecf0);
  color: #e49d5b;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pass {
  display: block;
}
.pass label {
  /*text-align: left;*/
  margin-top: 2px;
  margin-bottom: 7px;
}
.pass input {
  margin-top: 3px;
  margin-bottom: 7px;

  /*text-align: right; */
}
input[type="submit"] {
  width: 373px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f27216;
}

input[type="submit"] :hover {
  border-color: #2691d9;
  transition: 0.5s;
}

.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}
.child a {
  text-decoration: none;
  color: #07377b;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.child label {
  color: #07377b;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.child input {
  background-color: #07377b;
}
.left h1 {
  text-align: center;
  color: #07377b;
  font-family: Open Sans;
  font-size: 77px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding-top: 110px;
}

.signup_Link {
  padding-left: 60px;
  padding-top: 10px;
  display: inline-block;
}
.signup_Link a {
  text-decoration: none;
  color: #07377b;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.signup_Link h4 {
  display: inline-block;
  color: #07377b;
}
.done-container {
  padding-left: 450px;
}
.done-container img {
  padding-top: 200px;
  margin-left: 50px;
}
.done-container h1 {
  color: #07377b;
  font-family: Open Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#done-button {
  width: 373px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: #e49d5b;
  border-radius: 10px;
  border-color: #f27216;
  margin-left: 127px;
  flex-shrink: 0;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding-top: 35px;
  padding-left: 319px;
  color: #e49d5b;
  min-width: 50px;
  text-align: center;
}
.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}
